<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>FunixProductions mail</title>

    <meta name="description" content="Dashboard pour le FunixProducions">
    <meta name="author" content="Funix - Antoine PRONNIER - contact@funixproductions.com">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <meta name="theme-color" content="#1976d2">
</head>

<body class="bg-light">
    <div class="container">
        <div class="card p-6 p-lg-10 space-y-4">
            {{MAIL_CONTENT}}
        </div>
    </div>

    <footer>
        <h2>FunixProductions</h2>
        <div class="text-muted text-center my-6">
            <p>
                FunixProductions est une entreprise de développement web et de création de contenu.<br/>
                La FunixProductions possède ces projets:
            </p>
            <a href="https://funixproductions.com">FunixProductions</a>
            <a href="https://pacifista.fr">Pacifista</a>
            <a href="https://funixgaming.fr">FunixGaming</a>
        </div>
    </footer>
</body>

</html>
