<style>{{CSS_DATA}}</style>

<div class="container">
    <div class="card p-6 p-lg-10 space-y-4">
        {{MAIL_CONTENT}}
    </div>
</div>

<footer>
    <h2>FunixProductions</h2>
    <div class="text-muted text-center my-6">
        <p>
            FunixProductions est une entreprise de développement web et de création de contenu.<br/>
            La FunixProductions possède ces projets:
        </p>
        <a href="https://funixproductions.com">FunixProductions</a>
        <a href="https://pacifista.fr">Pacifista</a>
        <a href="https://funixgaming.fr">FunixGaming</a>
    </div>
</footer>

